@import "settings";
@import "foundation";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


body{
	border-top:10px solid $primary-color;
}

/*nav{
	position:relative;
	margin-top:40px;
}

nav ul{
	margin-left:0;
}
*/

/*nav ul li{
	//right:20px;
	//top:20px;
	//display:inline;
	//float:left;
}*/

.top{
	margin-top:2rem;
	margin-bottom:3rem;
}
.title{
	margin-top:0;
	//line-height:2rem;
}

h1 a{
	color:#888;
}

h2 a{
	color:#222;
}

h1 span, h5 span{
	color:#bbb;
}

h1{
	font-weight:bold;
}
h1 span{
	font-weight:normal;
}

h2{
	color:#222;
	font-weight:bold;
}

form.search input[type="text"]{
	display:inline;
	width:70%;
}

form.edit-blog{
	margin-right:10px;
	//display:inline-block;
}

form.delete-blog{
	margin-right:10px;
	//display:inline-block;
}

.date{
	display:inline-block;
	background: url('../imgs/date-circle.png') no-repeat scroll top left;
	width: 60px;
	height: 60px;
	margin-right:30px;

	p:first-child{
		color:white;
		font-weight:bold;
		font-size:.7rem;
		margin:0 10px;
		padding:10px 0 0 0;
	}
	p{
		color:white;
		font-size:.6rem;
		margin:5px;
		padding:2px;
	}

}

.date + h2{
	display:inline-block;
}

.date + h2 + p{
	margin-top:1rem;

}

